<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
</head>
<body>
    <nav>
        <div class="site-title">
            <a href="/">Node / Express Blog Site</a>
            <p>Blog site</p>
        </div>  
        <ul>
            <li><a href="/">Blogs</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/blogs/create">New Blog</a></li>
        </ul>
    </nav>
    <div class="about">
        <h2>About Us</h2>
        <p>This is a blog site.</p>
        <p>This is a blog site.</p>
        <p>This is a blog site.</p>
    </div>
    
</body>
</html>